*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Ruhl Regular";
    src: url("/fonts/");
}

html{
    font-size: 30%;
    --header1: calc(3rem + 1vw) ;
    --header2: calc(3rem + 1vw) ;
    --header3: calc(2.5rem + 1vw) ;
    --header4: calc(2.4rem + 1vw) ;
    --text: calc(2rem + 1vw) ;
    --big: calc(2rem + 1vw) ;
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

body{
    animation: opening 2s ease-in-out;
}

h1{
    font-size: var(--header1);
}
li,
button,
label,
input,
p,
a{
    font-size: var(--text);
}
h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}
h4,h5{
    font-size: var(--header4);}

button{
    padding: 2rem 6rem;
    background-color: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background0.2s ease-out;
}
button:hover{
    background:rgb(6, 6, 36) ;
}
.main-hed{
    background-color: rgb(6, 6, 36);
    color: rgb(252, 247, 247);
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    }
.main-head {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
}

nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 10vh ;
    padding: 2rem 0rem;
   
}

#logo {
    flex: 1 1 20rem;
    
}

.nav-links{
    display: flex;
    justify-content: space-between;
    flex: 1 1 20rem;
}

/*HERO SECTION*/

.hero{
    min-height: 90%;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;
}
.hero-introduction {
    flex: 1 1 40rem;
}

.hero-introduction p{
    padding: 5rem 10rem;
    color: var(--gray-text);
}

.hero-introduction h2{
        padding: 5rem 10rem;
    }
.hero-images {
    flex: 1 1 40rem;
    background-color: rgb(153, 149, 149);
    position:relative;
    z-index: 1;
    
}

.hero-introduction a {
    padding: 2rem;
    border:3px solid rgba(0,0,0);
    margin-bottom: 4rem;   
    color: var(--gray-text);
    
}
.hero-shreya{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: plant-entrance 2s ease-in-out forwards;
}

.plant {
    position: absolute;
    bottom: 0;
    left: -20%;
    max-height: 80%;
    z-index: -1;
    animation: plant-entrance 2s ease-in-out forwards,
    plant-shake 1.5s infinite ease alternate-reverse 2s;
}
.plant2 {
    
    left: 40%;
}

@keyframes opening{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes plant-entrance {
    from{
        transform: translateY(-10%);
    }
    to{
        transform: translateY(0%);
    }
}
@keyframes plant-shake{
    from{
        transform: rotate(-2deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@media screen and (max-wid: 842px){
    .hero{
        width: 100%;
    }
    .hero-introduction p{
        padding: 5rem 3rem;
        
    }
    .burger span{
        padding: 0.2rem 2rem;
        background: var(--gray-text);
        margin: 0.5rem 0rem;
        display: block;

    }
    .nav-links a {
        color: white;
        font-size: var(--header3);
        text-decoration: underline;
    }

    
    .nav-links {
        background: var(--background-color);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center;
    }

    /* gallery */
    .gallery img {
        grid-row: auto;
        grid-column: auto;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit) minmax(20rem, 1fr);
    }
}

/* ABOUT SECTION*/

.about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

}

.about-img h5{
    position: absolute;
    letter-spacing: 3rem;
    top: 5%;
    left: 10%;
    color: var(--gray-text);
}

.about-img{
    flex: 1 1 40rem;
    position: relative;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text{
    background: var(--background-color);
    color: white;
    flex: 2 1 40rem;
    justify-content: space-around;
}

.about-text div{
    padding: 3rem 10rem;
}
/* GALLERY */
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.gallery1 {
    grid-column: 1/3;
}
.gallery2 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.gallery-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: var(--background-color);
    padding: 5rem 10rem;
    text-align: center;
    opacity: 90%;
}

/* CONTACTS */

.contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    flex: 3 1 40rem;
}

.form-wrapper span {
    font-size: 40rem;
    color: #906272;
}
.contact img {
    flex: 1 1 40rem ; 
    position: absolute;
}

